VITE_WEBSOCKET_PROTOCOL=
VITE_WEBSOCKET_HOST=
VITE_WEBSOCKET_PORT=
VITE_WEBSOCKET_RTSP_URL=${VITE_WEBSOCKET_PROTOCOL}://${VITE_WEBSOCKET_HOST}:${VITE_WEBSOCKET_PORT}/stream
VITE_WEBSOCKET_URL=${VITE_WEBSOCKET_PROTOCOL}://${VITE_WEBSOCKET_HOST}:${VITE_WEBSOCKET_PORT}/webcam
