.App {
  text-align: center;
}

header {
  background-color: #282c34;
  padding: 10px 20px;
  color: white;
}

main {
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: row;
}

.video-section {
  display: flex;
  width: 50%;
  height: 100%;
  padding: 5px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.video-grid-col {
  display: flex;
  width: 100%;
  height: 100%;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video {
  padding: 2px 5px;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}

.data-section {
  display: flex;
  width: 50%;
  flex-direction: column;
}

.data-subsection {
  flex: 1;
  display: flex;
  padding: 5px 10px;
  box-sizing: border-box;
  overflow: hidden;
}

.plots-grid {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.plots-grid-row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 100%;
}

.plot {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.plot.single-chart {
  height: 100%;
  width: 100%;
}

.plot.double-chart {
  height: 100%;
  width: 100%;
}

footer {
  height: 50px;
  background-color: #333;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab-section {
  overflow-y: auto;
  overflow-x: auto;
  padding: 10px;
}

.tab-panel {
  overflow-x: auto;
  overflow-y: auto;
  max-width: 100%;
}

/* Table Styling */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px 0;
  font-size: 0.9em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

table th,
table td {
  padding: 12px 15px;
  min-width: 120px; /* Ensuring each cell has a minimum width */
}

table tbody tr {
  border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}
