.App {
  text-align: center;
}

header {
  background-color: #282c34;
  padding: 10px 20px;
  color: white;
}

main {
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: row;
}

.video-section {
  display: flex;
  flex: 1;
  height: 100%;

  padding: 5px;
  box-sizing: border-box;

  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.video-grid-col {
  display: flex;
  flex: 1;
  height: 100%;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video {
  padding: 2px 5px;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}

.data-section {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.data-subsection {
  flex: 1;
  display: flex;

  padding: 5px 10px;
  box-sizing: border-box;
}

.plots-grid {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.plots-grid-row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 100%;
}

.plot {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}


.plot.single-chart {
  height: 100%;
  width: 100%;
}

.plot.double-chart {
  height: 100%;
  width: 100%;
}

footer {
  height: 50px;
  background-color: #333;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab-section {
  overflow-y: auto;
}
